* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(233, 143, 237);
  background: linear-gradient(
    19deg,
    rgba(233, 143, 237, 1) 0%,
    rgba(44, 177, 185, 0.45451684091605393) 49%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 25rem;
}
h3 {
  margin: 1rem -1rem;
}
